{% extends 'base.html' %}

{% block title %}
<title>Yarn Cat Favorite Tutorials</title>
{% endblock %}

{% block content%}
    <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Favorite Tutorials</h1>
          <p class="lead text-muted">Here are all your favorite video tutorials!</p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            {% for video in videos %}
            <div class="col-md-4 col-xl-5 w-auto">
              <div class="card mb-4 shadow-sm">
                <iframe width="386" height="200" src="{{ video.url }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="
                max-width: max-content;"></iframe>
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <a type="button" href="{% url 'unfavorite_video' video_id=video.id %}" data-video_id="{{ video.id }}" class="btn btn-sm btn-outline-secondary">Remove from Favorites</a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
{% endblock %}