{% extends 'base.html' %}

{% block title %}
<title>About Yarn Cat</title>
{% endblock %}

{% block content%}
    <h1>About Yarn Cat</h1>
    <p>Welcome to Yarn Cat, the purrfect app for all your art and craft projects! If you're like me, you've got a million ideas bouncing around in your head and not enough time to bring them all to life. Yarn Cat is here to help!
        <br>
        <br>
        With Yarn Cat, you can easily keep track of all your projects in one place. Whether you're knitting, crocheting, painting, or crafting, I've designed this app with you in mind. And because I know how important it is to stay focused (especially when you've got ADHD like me!), I've included time tracking to help you keep track of how much time you've put into each project.
        But that's just the beginning! 
        <br>
        <br>
        Yarn Cat also lets you upload photos and information about your projects, so you can see your progress and share your creations with others.
        But wait, there's more! Yarn Cat also features a tutorial search function, so you can find inspiration and learn new techniques on the go. And if you find a tutorial that you love, you can save it to your favorites for easy reference later on.
        <br>
        <br>
        I created Yarn Cat because I'm passionate about art and crafts, and I know how hard it can be to stay organized when you've got a million projects going at once. So why not join me and give Yarn Cat a try? I promise it'll make your crafting adventures even more fun and satisfying!</p>
{% endblock %}