<!-- NOTE: load static informs the view engine that static assets are needed here -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anybody&display=swap">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Yarn Cat</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <header class="">
        <nav class="navbar navbar-light navbar-expand-md py-3" style="background: #f57640;">
            <div class="container"><a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}"><span style="font-family: Anybody, serif;font-size: 30px;">Yarn Cat</span></a><button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div id="navcol-2" class="collapse navbar-collapse">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'about' %}" style="font-family: Anybody, serif;">About</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'projects_index' %}" style="font-family: Anybody, serif;">View All Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'project_create' %}" style="font-family: Anybody, serif;">Add a Project</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'tutorial_search' %}" style="font-family: Anybody, serif;">Search for Tutorial</a>
                        </li>
                    </ul>
                    <a class="btn btn-primary ms-md-2" role="button" href="{% url 'logout' %}" style="font-family: Anybody, serif;background: rgb(108,193,204);border-style: none;box-shadow: 0px 0px 3px;">Logout</a>
                    {% else %}
                    <a class="btn btn-primary ms-md-2" role="button" href="{% url 'login' %}" style="font-family: Anybody, serif;background: rgb(108,193,204);border-style: none;box-shadow: 0px 0px 3px;">Login</a>
                    <a class="btn btn-primary ms-md-2" role="button" href="{% url 'signup' %}" style="font-family: Anybody, serif;background: rgb(108,193,204);border-style: none;box-shadow: 0px 0px 3px;">Signup</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer id="footer_nav" class="page-footer">
        <p id="footer_p">Copyright &copy; All Rights Reserved Yarn Cat 2023</p>
    </footer>
</body>
</html>

