{% extends 'base.html' %}

{% block title %}
<title>Yarn Cat Home</title>
{% endblock %}

{% block content%}
    <h1 id="home" class="header">Welcome to Yarn Cat!</h1>
    <p class="center_p">Welcome to Yarn Cat, where crafting is always at your fingertips! Whether you're a seasoned pro or just starting out, Yarn Cat is here to help you create your dream project.
        <br>
        <br>
        With Yarn Cat, you can easily add your project, write a description, and even upload photos to show off your latest masterpiece! Plus, with our search and save feature, you can easily find and save your favorite tutorial videos, so you can master new techniques and take your crafting to the next level.
        <br>
        <br>
        But that's not all - we're also constantly updating our app with new and exciting features, like the ability to connect with other crafters and share your progress, get feedback, and be part of a vibrant crafting community.
        <br>
        <br>
        So what are you waiting for? Signup for Yarn Cat today and let the fun begin!</p>
{% endblock %}