/* sticky footer recipe  */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #B4DfE5;
}

main {
    flex-grow: 1;
}
/* sticky footer recipe  ^ */

.navbar-fixed {
    background-color: #F4976C;
}

#footer_nav.page-footer {
    background-color: #303C6C;
    text-align: center;
    height: 50px;
    padding-top: 15px;
}

#footer_p {
    margin: 0;
    color: white;
}

img {
    object-fit: cover;
}







