/* sticky footer recipe  */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #B4DfE5;
}

main {
    flex-grow: 1;
}
/* sticky footer recipe  ^ */

.navbar-fixed {
    background-color: #F4976C;
}

#footer_nav.page-footer {
    background-color: #303C6C;
    text-align: center;
    height: 50px;
    padding-top: 15px;
}

#footer_p {
    margin: 0;
    color: white;
}

img {
    object-fit: cover;
}

h1.jumbotron-heading, #h1_signup, #h1_login {
    margin-top: 20px;
    font-family: Anybody, serif;
}

h2 {
    font-family: Anybody, serif;
}

h4 {
    font-family: Anybody, serif;
}

.detail_img {
    border-radius: 5px;
    max-height: 560px;
}

.carousel {
    max-width: 800px;
}
.img_div {
    display: flex;
    justify-content: center;
}

table.log_table {
    max-width: 500px;
}

div.card-body {
    max-width: 386px;
}
div.row {
    justify-content: center;
}

@media (max-width: 767px)
{
    div.card-body {
        max-width: 386px;
    }
}

p.p_search {
    font-size: 12px;
    margin-bottom: 0;
    color: #303C6C;
}

div.add_photos {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
}

/* @media (min-width: 490px)
{
    iframe {
        max-width: 348px;
    }
} */



