{% extends 'base.html' %}

{% block title %}
<title>Project Detail</title>
{% endblock %}

{% block content %}

<div class="container d-flex flex-column align-items-center py-4 py-xl-5">
    <div class="row gy-4 row-cols-1 row-cols-md-2 w-100" style="max-width: 800px;">
        <div class="col order-md-first">
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                    {% for photo in project.photo_set.all %}
                    <div class="carousel-item active">
                        <img src="{{ photo.url }}" class="d-block w-100" alt="{{ project.name }}">
                    </div>
                    {% empty %}
                    <div class="carousel-item active">
                        <img src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" class="d-block w-100" alt="">
                      </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
        <div class="col d-md-flex order-first justify-content-md-start align-items-md-end order-md-1">
            <div style="width: 80%;">
                <h2 style>{{ project.name }}</h2>
                <p>Type: {{ project.type }}</p>
                <p>Tools: {{ project.tools }}</p>
                <p>{{ project.description }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'project_update' project.id %}">Update</a>
                <a href="{% url 'project_delete' project.id %}">Delete</a>
            </div>
        </div>
        <div class="col order-md-2">
            <form action="{% url 'add_photo' project.id %}" method="POST" class="card-panel" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="photo-file">
                <input type="submit" value="Upload Photo" class="btn blue">
            </form>
        </div>
        <div class="col order-md-2">
            <h5>Total Time Spent on {{project.name}}: {{total_time}}</h5>
        <form action="{% url 'add_timing' project.id %}" method="POST">
            {% csrf_token %}
            {{ timing_form.as_p }}
            <input type="submit" value="Add Time" class="btn blue">
        </form>
         <table class="striped">
             <thead>
                 <tr>
                     <th>Date</th>
                     <th>Time Spent</th>
                 </tr>
             </thead>
             <tbody>
                {% for timing in project.timing_set.all %}
                <tr>
                    <td>{{ timing.date }}</td>
                    <td>{{ timing.time_spent }}</td>
                </tr>
            {% endfor %}
             </tbody>
         </table>
        </div>
    </div>
</div>

 <!-- <div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ project.name }}</span>
                <p>Type: {{ project.type }}</p>
                <p>Tools: {{ project.tools }}</p>
                <p>Description: {{ project.description }}</p>
            </div> 
            <div class="card-action">
                <a href="{% url 'project_update' project.id %}">Update</a>
                <a href="{% url 'project_delete' project.id %}">Delete</a>
            </div>
        </div> -->
        <!-- {% for photo in project.photo_set.all %}
            <img src="{{ photo.url }}" alt="{{ project.name }}" class="responsive-img card-panel">
        {% empty %}
            <div class="card-panel blue-text center-align">No Photos Uploaded</div>
        {% endfor %} -->
        <!-- Upload photos -->
        <!-- <form action="{% url 'add_photo' project.id %}" method="POST" class="card-panel" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="photo-file">
            <input type="submit" value="Upload Photo" class="btn blue">
        </form>
    </div>
     <div class ="col s6">
        <h5>Total Time Spent on {{project.name}}: {{total_time}}</h5>
        <form action="{% url 'add_timing' project.id %}" method="POST">
            {% csrf_token %}
            {{ timing_form.as_p }}
            <input type="submit" value="Add Time" class="btn blue">
        </form>
         <table class="striped">
             <thead>
                 <tr>
                     <th>Date</th>
                     <th>Time Spent</th>
                 </tr>
             </thead>
             <tbody>
                {% for timing in project.timing_set.all %}
                <tr>
                    <td>{{ timing.date }}</td>
                    <td>{{ timing.time_spent }}</td>
                </tr>
            {% endfor %}
             </tbody>
         </table>
     </div>
 </div> -->

 <script>
    const datePickerEl= document.getElementById('id_date');
    const formSelectEl= document.getElementById('id_meal');
    
    M.Datepicker.init(datePickerEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });
    M.FormSelect.init(formSelectEl);
    </script>


{% endblock %}
