{% extends 'base.html' %}

{% block title %}
<title>Project Detail</title>
{% endblock %}

{% block content %}

<div class="container d-flex flex-column align-items-center py-4 py-xl-5">
    <div class="row gy-4 row-cols-1 cols-md-2 w-100" style="max-width: 1000px;">
        <div class="col order-md-first img_div">
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                    {% for photo in project.photo_set.all %}
                    <div class="carousel-item {% if forloop.first %} active{% endif %}">
                        <img src="{{ photo.url }}" class="d-block w-100 detail_img" alt="{{ project.name }}">
                    </div>
                    {% empty %}
                    <div class="carousel-item active">
                        {% load static %} <img src="{% static 'imgs/Addphoto.jpg' %}" class="d-block w-100 add_photo" alt="add photo">
                      </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
        <div class="col d-md-flex order-first justify-content-md-start order-md-1">
            <div style="width: 80%;">
                <h2 id="detailh1">{{ project.name }}</h2>
                <p>Type: {{ project.type }}</p>
                <p>Tools: {{ project.tools }}</p>
                <p>{{ project.description }}</p>
                <a href="{% url 'project_update' project.id %}" class="btn btn-primary ms-md-2" style="font-family: Anybody, serif;background: rgb(108,193,204);border-style: none;box-shadow: 0px 0px 3px;">Update</a>
                <a href="{% url 'project_delete' project.id %}" class="btn btn-primary ms-md-2" style="font-family: Anybody, serif;background: rgb(164, 38, 22);border-style: none;box-shadow: 0px 0px 3px;">Delete</a>
            </div>
        </div>
        <div class="col order-md-2 add_photos">
            <h5>Add up to 3 photos!</h5>
            <form action="{% url 'add_photo' project.id %}" method="POST" class="card-panel" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="photo-file">
                <input type="submit" value="Upload Photo" class="btn btn-primary ms-md-2 photo_button" style="font-family: Anybody, serif;background: rgb(108,193,204);border-style: none;box-shadow: 0px 0px 3px;">
            </form>
        </div>
        <div class="col order-md-2">
            <h5>Total Time Spent on {{project.name}}: {{total_time}}</h5>
        <form action="{% url 'add_timing' project.id %}" method="POST">
            {% csrf_token %}
            <!-- {{ timing_form.as_p }} -->
            <div class="mb-3"><input id="type-1" class="form-control form-control" type="text" name="date" 
                placeholder="Date as YYYY-MM-DD">{{ date }}</div>
            <div class="mb-3"><input id="type-1" class="form-control form-control" type="text" name="time_spent" 
                placeholder="Time - in minutes">{{ time_spent }}</div>
            <input type="submit" value="Add Time" class="btn btn-primary ms-md-2" style="font-family: Anybody, serif;background: rgb(108,193,204);border-style: none;box-shadow: 0px 0px 3px;">
        </form>
         <table class="table table-striped">
             <thead>
                 <tr>
                     <th>Date</th>
                     <th>Time Spent</th>
                 </tr>
             </thead>
             <tbody>
                {% for timing in project.timing_set.all %}
                <tr>
                    <td>{{ timing.date }}</td>
                    <td>{{ timing.time_spent }}</td>
                </tr>
            {% endfor %}
             </tbody>
         </table>
        </div>
    </div>
</div>

 <!-- <div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ project.name }}</span>
                <p>Type: {{ project.type }}</p>
                <p>Tools: {{ project.tools }}</p>
                <p>Description: {{ project.description }}</p>
            </div> 
            <div class="card-action">
                <a href="{% url 'project_update' project.id %}">Update</a>
                <a href="{% url 'project_delete' project.id %}">Delete</a>
            </div>
        </div> -->
        <!-- {% for photo in project.photo_set.all %}
            <img src="{{ photo.url }}" alt="{{ project.name }}" class="responsive-img card-panel">
        {% empty %}
            <div class="card-panel blue-text center-align">No Photos Uploaded</div>
        {% endfor %} -->
        <!-- Upload photos -->
        <!-- <form action="{% url 'add_photo' project.id %}" method="POST" class="card-panel" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="photo-file">
            <input type="submit" value="Upload Photo" class="btn blue">
        </form>
    </div>
     <div class ="col s6">
        <h5>Total Time Spent on {{project.name}}: {{total_time}}</h5>
        <form action="{% url 'add_timing' project.id %}" method="POST">
            {% csrf_token %}
            {{ timing_form.as_p }}
            <input type="submit" value="Add Time" class="btn blue">
        </form>
         <table class="striped">
             <thead>
                 <tr>
                     <th>Date</th>
                     <th>Time Spent</th>
                 </tr>
             </thead>
             <tbody>
                {% for timing in project.timing_set.all %}
                <tr>
                    <td>{{ timing.date }}</td>
                    <td>{{ timing.time_spent }}</td>
                </tr>
            {% endfor %}
             </tbody>
         </table>
     </div>
 </div> -->

 <script>
    const datePickerEl= document.getElementById('id_date');
    const formSelectEl= document.getElementById('id_meal');
    
    M.Datepicker.init(datePickerEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });
    M.FormSelect.init(formSelectEl);
    </script>


{% endblock %}
